<!DOCTYPE html>
<html>
  <head>
    <title>Amazin'Zone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <% if current_user %>
      <script>
        window.currentUser = {
          "id": "<%= current_user.id%>",
          "email": "<%= current_user.email%>"
        };
      </script>
      
    <% end %>
    <meta property="og:title" content="Amazon Clone">
    <meta property="og:image" content="<%=image_url("./readMe_images/index.png")%>">
    <meta property="og:description" content="Amazin-Zone is a clone of the popular website Amazin.com by using Ruby On Rails and React. It is made with the Create/Read/Update/Delete functionality on Review and Cart as well as User Authentication">
    <meta property="og:url" content="https://amazon-clone-tz.herokuapp.com/#/">
    
    <script>
      window.main_splash = "<%= image_url("main_background.jpg")%>"
      window.main_logo = "<%= image_url("main_logo.png")%>"
      window.filled_star = "<%= image_url("filled_star.png")%>"
      window.unfilled_star = "<%= image_url("unfilled_star.png")%>"
      window.github_logo = "<%= image_url("github_logo.png")%>"
      window.linkedin_logo = "<%= image_url("linkedin_logo.png")%>"
    </script>

    <link rel="icon" type="image/x-icon" href="<%= image_url('amazon_favicon2.png') %>" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
